
:global
  .kohorts-simple-quiz
    .mat-radio-label
      whitespace normal
    .mat-radio-container
      min-width 25px
    .mat-radio-button
      display block

    table
      width 100%


.content
  font-weight bold
  font-size 18px
  margin-top 0px

.continue
  text-transform uppercase
  display block
  margin-top 20px
  font-size 12px

.continueContainer
  margin-top 20px
  text-align right
  font-size 12px
  text-transform uppercase
  background kohortsLightBlue

.bottomContent
  margin-top 25px
  margin-bottom 25px
  border solid 0px rgba(#FFF, 0.5)
  border-top-width 1px
  border-bottom-width 1px
