<div class="kohorts-simple-quiz"
     *ngFor="let question of questions; let i=index">
  <div *ngIf="getCurrentQuestionIndex() == i">

    <div *ngIf="question.title">
      <h2>{{ question.title }}</h2>
    </div>

    <div *ngFor="let content of question.topContent">
      <p>{{ content }}</p>
    </div>

    <div *ngIf="question.table">
      <table>
        <tr *ngFor="let row of question.table">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </table>
    </div>

    <p>
      <mat-radio-group>
        <mat-radio-button *ngFor="let answer of question.answers"
                         [disabled]="question.submitting"
                         (change)="question.userAnswer = answer"
                         value="{{answer.value}}"
                         [checked]="question.userAnswer?.value == answer.value">
          {{ answer.label }}
        </mat-radio-button>
      </mat-radio-group>
    </p>

    <div class="{{styles.bottomContent}}"
         *ngIf="question.bottomContent.length">
      <p *ngFor="let paragraph of question.bottomContent">
        {{ paragraph }}
      </p>
    </div>

    <div class="{{styles.continueContainer}}"
         *ngIf="question.answeredCorrectly">
      <a (click)="nextQuestion()">
        Continue
        &nbsp;
        <i class="fa fa-chevron-right"></i>
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>

    <div *ngIf="!question.answeredCorrectly"
         class="align-text-right">
      <button class="btn btn-grey"
              (click)="checkAnswer(question, question.userAnswer)">Check answer</button>
    </div>

  </div>
</div>